# **Fake News Detection**

In [ ]:
import pandas as pd
df=pd.read_csv('news.csv')
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [ ]:
df.shape

(6335, 4)

In [ ]:
#checking the data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [ ]:
#Checking for missing values
df.isna().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

==>there is no missing values , all the columns are object 's type except the identifier of the news

In [ ]:
#checking if there is duplicated data
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
6330    False
6331    False
6332    False
6333    False
6334    False
Length: 6335, dtype: bool

===>there is no duplicateed values

In [ ]:
#create target column
target=df.label

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
#Split the dataset into training and testing sets

X_train,X_test,Y_train,Y_test=train_test_split(df['text'],target,test_size=0.2,random_state=7)

In [ ]:
#Now, fit and transform the vectorizer on the train set, and transform the vectorizer on the test set.

#DataFlair - Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)
#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(X_train) 
tfidf_test=tfidf_vectorizer.transform(X_test)

In [ ]:
#Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,Y_train)

#Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(Y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 92.27%

In [ ]:
#Build confusion matrix to gain insight into the number of false and true negatives and positives
confusion_matrix(Y_test,y_pred, labels=['FAKE','REAL'])

array([[584,  54],
       [ 44, 585]])

====>So with this model, we have 584 true negatives, 585 false negatives, 44 false positives, and 54 false negatives.